<div class="clear"></div>
<button type="button" [routerLink]="['/userComponent']" class="btn btn-primary">Users</button>
<button type="button" class="btn btn-success">Add Users</button>
<router-outlet></router-outlet>
